@import "../globalImports.scss";

.footer {
  align-items: center;
  border-top: 0.3rem solid $color-global-grey-5;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  margin-top: 7.5rem;

  @media (min-width: $media-tablet-breakpoint) {
    flex-direction: row;
    padding: 2rem 5rem;
    justify-content: space-between;
  }

  &__links {
    margin-bottom: 1rem;
  }

  &__copyright {
    align-items: center;
    display: flex;
    gap: 1rem;
    font-weight: 550;

    @media (max-width: $media-phone-breakpoint) {
      order: 3;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    text-align: center;

    @media (min-width: $media-tablet-breakpoint) {
      flex-direction: row;
    }
  }

  &__list-links {
    font-size: $u-large-text;
    font-weight: 550;
    text-align: center;

    &:hover {
      color: $color-accent-lighter;
    }
  }

  &__text {
    font-size: $u-medium-text;

    @media (min-width: $media-tablet-breakpoint) {
      font-size: $u-heading-6;
    }
  }
}
