@import "../globalImports.scss";

.text {
  font-size: $u-heading-6;
  padding: $component-spacing;

  &--variation1 {
    font-size: $u-heading-4;
    text-align: center;
    font-weight: 550;
    @media (min-width: $media-tablet-breakpoint) {
      font-size: $u-heading-2;
    }
  }

  &--variation2 {
    background-color: $color-shade-1;
    font-size: $u-medium-text;
    font-weight: 500;
    padding: 1.5rem;
    margin: auto;
    width: 95%;
    @media (min-width: $media-tablet-breakpoint) {
      font-size: $u-large-text;
      width: 75%;
    }
  }
}
